.Sunday{
    grid-column: 2 / 2;
}
.Monday{
    grid-column: 3 / 3;
}
.Tuesday{
    grid-column: 4 / 4;
}
.Wednesday{
    grid-column: 5 / 5;
}
.Thursday{
    grid-column: 6 / 6;
}
.Period1{
    grid-row: 2 / 2;
}
.Period2{
    grid-row: 3 / 3;
}
.Period3{
    grid-row: 4 / 4;
}
.Period4{
    grid-row: 5 / 5;
}
.Period5{
    grid-row: 7 / 7;
}
.Period6{
    grid-row: 9 / 9;
}
.Period7{
    grid-row: 10 / 10;
}